/* Основной фон страницы */
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #f4f4f9;
    font-size: 14px; /* Уменьшение размера шрифта */
}

/* Стили для карты */
#map {
    height: 100%;
}

/* Шапка */
.header {
    position: absolute;
    top: 30px;
    left: 30px;
    right: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    z-index: 2;
    border-radius: 24px;
    padding: 0 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}

.header img {
    height: 50px;
    cursor: pointer;
}

.login-button {
    cursor: pointer;
    color: #dd362f; /* rgb(221, 54, 47) */
}

.login-button:hover {
    color: #fca711; /* rgb(252, 167, 17) */
}

.link {
    cursor: pointer;
    color: #dd362f; /* rgb(221, 54, 47) */
}

.link:hover {
    color: #fca711; /* rgb(252, 167, 17) */
}

.custom-button-right {
    position: absolute;
    top: 100px;
    right: 50px;
    z-index: 2;
}

.custom-button-right img {
    width: 40px; /* уменьшено на 20% */
    height: 40px; /* уменьшено на 20% */
    cursor: pointer;
    border-radius: 12px; /* скругление углов */
}

.modal {
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #ffffff;
    margin: auto;
    padding: 18px; /* Уменьшение padding */
    border: 1px solid #888;
    width: 30%; /* Ширина 30% экрана */
    border-radius: 10px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.modal-content .form-group {
    margin-bottom: 8px; /* Уменьшение отступов */
}

.modal-content label {
    margin-bottom: 4px; /* Уменьшение отступов */
    font-weight: bold;
    color: #dd362f; /* rgb(221, 54, 47) */
}

.modal-content input, .modal-content select, .modal-content textarea, .modal-content button {
    display: block;
    width: 100%;
    padding: 8px; /* Уменьшение отступов */
    margin-bottom: 8px; /* Уменьшение отступов */
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 12px; /* Уменьшение размера шрифта */
}

.modal-content button.btn-primary {
    background-color: #dd362f; /* rgb(221, 54, 47) */
    border: none;
    color: #fff;
}

.modal-content button.btn-primary:hover {
    background-color: #fca711; /* rgb(252, 167, 17) */
}

.modal-content button.btn-secondary {
    background-color: #f4f4f9;
    border: 1px solid #ddd;
    color: #000;
}

.modal-content button.btn-secondary:hover {
    background-color: #ddd;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

#zoom-controls {
    position: absolute;
    bottom: 150px;
    right: 50px;
    z-index: 2;
}

#zoom-controls div {
    margin-bottom: 10px;
}

.centered-form {
    width: 90%; /* Уменьшение ширины до 90% */
    max-width: 400px; /* Максимальная ширина формы */
    font-size: 14px;
}
.marker-mode-notification {
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    color: #000;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000; /* Убедитесь, что уведомление отображается поверх других элементов */
    text-align: center;
    font-size: 16px;
}

.star {
    color: gray; /* Цвет звезд по умолчанию */
    font-size: 30px;
    cursor: pointer;
}

.star.selected {
    color: gold; /* Цвет выбранных звезд */
}

.star.hover {
    color: gold; /* Цвет звезд при наведении */
}