<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map Application</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <meta name="language" content="ru">
</head>

<body>
    <div class="header">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" onclick="location.reload()">
        {% if current_user.is_authenticated %}
        <div class="dropdown">
            <img src="{{ url_for('static', filename='profile.png') }}" alt="Profile" class="dropdown-toggle" id="profileDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="dropdown-menu" aria-labelledby="profileDropdown">
                <a class="dropdown-item" href="#">Аккаунт</a>
                <a class="dropdown-item" href="#">Настройки</a>
                <a class="dropdown-item" href="{{ url_for('main.logout') }}">Выйти</a>
            </div>
        </div>
        {% else %}
        <div class="login-button" onclick="document.getElementById('login-modal').style.display='block'">Войти</div>
        {% endif %}
    </div>
    <div id="map"></div>
    {% if current_user.is_authenticated %}
    <div class="custom-button-right" id="add-marker" onclick="promptLocationSelection()">
        <img src="{{ url_for('static', filename='add.png') }}" alt="Add Marker">
    </div>
    {% endif %}
    <div class="custom-button-right" id="my-location" style="margin-top: 170px !important;" onclick="locateMe()">
        <img src="{{ url_for('static', filename='location.png') }}" alt="My Location">
    </div>
    <div class="custom-button-right" id="zoom-controls" style="top: 350px !important;">
        <div onclick="zoomIn()">
            <img src="{{ url_for('static', filename='zoom_in.png') }}" alt="Zoom In">
        </div>
        <div onclick="zoomOut()">
            <img src="{{ url_for('static', filename='zoom_out.png') }}" alt="Zoom Out">
        </div>
    </div>

    <!-- Login Modal -->
    <div id="login-modal" class="modal">
        <div class="modal-content centered-form">
            <form id="login-form" action="{{ url_for('main.login') }}" method="post" onsubmit="handleLogin(event)">
                {{ login_form.hidden_tag() }}
                {{ login_form.csrf_token }}
                <div class="form-group">
                    <label for="login-username">Имя пользователя</label>
                    <input type="text" id="login-username" class="form-control" name="username" placeholder="Имя пользователя" required>
                </div>
                <div class="form-group">
                    <label for="login-password">Пароль</label>
                    <input type="password" id="login-password" class="form-control" name="password" placeholder="Пароль" required>
                </div>
                <button type="submit" class="btn btn-primary">Войти</button>
                <button type="button" class="btn btn-secondary" onclick="closeLoginForm()">Отмена</button>
                <div class="link" onclick="showRegistrationForm()">Нет аккаунта?</div>
            </form>
        </div>
    </div>

    <!-- Registration Modal -->
    <div id="registration-modal" class="modal">
        <div class="modal-content centered-form">
            <form id="registration-form" action="{{ url_for('main.register') }}" method="post" onsubmit="handleRegistration(event)">
                {{ registration_form.hidden_tag() }}
                {{ registration_form.csrf_token }}
                <div class="form-group">
                    <label for="registration-username">Имя пользователя</label>
                    <input type="text" id="registration-username" class="form-control" name="username" placeholder="Имя пользователя" required>
                </div>
                <div class="form-group">
                    <label for="registration-first_name">Имя</label>
                    <input type="text" id="registration-first_name" class="form-control" name="first_name" placeholder="Имя" required>
                </div>
                <div class="form-group">
                    <label for="registration-second_name">Фамилия</label>
                    <input type="text" id="registration-second_name" class="form-control" name="second_name" placeholder="Фамилия" required>
                </div>
                <div class="form-group">
                    <label for="registration-email">Электронная почта</label>
                    <input type="email" id="registration-email" class="form-control" name="email" placeholder="Электронная почта" required>
                </div>
                <div class="form-group">
                    <label for="registration-phone">Телефон</label>
                    <input type="text" id="registration-phone" class="form-control" name="phone" placeholder="Телефон" required>
                </div>
                <div class="form-group">
                    <label for="registration-password">Пароль</label>
                    <input type="password" id="registration-password" class="form-control" name="password" placeholder="Пароль" required>
                </div>
                <div class="form-group">
                    <label for="registration-confirm_password">Повторите пароль</label>
                    <input type="password" id="registration-confirm_password" class="form-control" name="confirm_password" placeholder="Повторите пароль" required>
                </div>
                <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
                <button type="button" class="btn btn-secondary" onclick="closeRegistrationForm()">Отмена</button>
            </form>
        </div>
    </div>

    <!-- Add Marker Modal -->
    <div id="add-marker-modal" class="modal">
        <div class="modal-content centered-form">
            <form id="add-marker-form" action="{{ url_for('main.add_location') }}" method="post" onsubmit="handleAddLocation(event)">
                {{ location_form.hidden_tag() }}
                {{ location_form.csrf_token }}
                <input type="hidden" id="latitude" name="latitude">
                <input type="hidden" id="longitude" name="longitude">

                <div class="form-group">
                    <label for="name">Название</label>
                    <input type="text" id="name" class="form-control" name="name" placeholder="Название (не более 30 символов)" maxlength="30" required>
                </div>
                <div class="form-group">
                    <label for="address">Адрес</label>
                    <input type="text" id="address" class="form-control" name="address" placeholder="Адрес (до 150 символов)" maxlength="150">
                </div>
                <div class="form-group">
                    <label for="average_check">Цена за эмпанадос</label>
                    <input type="number" id="average_check" class="form-control" name="average_check" placeholder="Цена (2000 - 5000)" min="2000" max="5000" required>
                </div>
                <div class="form-group">
                    <label for="working_hours_start">Начало работы</label>
                    <input type="time" id="working_hours_start" name="working_hours_start" min="00:00" max="23:59" required>
                </div>
                <div class="form-group">
                    <label for="working_hours_end">Конец работы</label>
                    <input type="time" id="working_hours_end" name="working_hours_end" min="00:00" max="23:59" required>
                </div>
                <button type="submit" class="btn btn-primary">Добавить</button>
                <button type="button" class="btn btn-secondary" onclick="closeAddMarkerForm()">Отмена</button>
                <button type="button" class="btn btn-info" onclick="showOwnerInfoForm()">Я хозяин</button>
            </form>
        </div>
    </div>

    <!-- Owner Info Modal -->
    <div id="owner-info-modal" class="modal">
        <div class="modal-content centered-form">
            <form id="owner-info-form" action="{{ url_for('main.add_owner_info') }}" method="post" onsubmit="handleOwnerInfoSubmit(event)">
                {{ owner_info_form.hidden_tag() }}
                {{ owner_info_form.csrf_token }}
                <div class="form-group">
                    <label for="website">Веб-сайт</label>
                    <input type="text" id="website" class="form-control" name="website" placeholder="URL сайта (до 200 символов)" maxlength="200">
                </div>
                <div class="form-group">
                    <label for="owner_info">Информация о вас и вашем заведении</label>
                    <textarea id="owner_info" name="owner_info" class="form-control" rows="4" required></textarea>
                </div>
                <input type="hidden" name="location_id" id="location_id">
                <button type="submit" class="btn btn-primary">Отправить</button>
                <button type="button" class="btn btn-secondary" onclick="closeOwnerInfoForm()">Отмена</button>
            </form>
        </div>
    </div>

    <!-- Login Required Modal -->
    <div id="login-required-modal" class="modal">
        <div class="modal-content centered-form">
            <p>Вы неавторизованы. Пожалуйста, авторизуйтесь, чтобы оставить отзыв.</p>
            <button type="button" class="btn btn-primary" onclick="showLoginModal()">Войти</button>
        </div>
    </div>

    <!-- Review Modal -->
<div id="review-modal" class="modal">
    <div class="modal-content centered-form">
        <h4>Оставить отзыв</h4>
        <form id="review-form" action="{{ url_for('main.add_review') }}" method="post" onsubmit="handleReviewSubmit(event)">
            {{ review_form.hidden_tag() }}
            {{ review_form.csrf_token }}

            <div class="form-group">
                <label for="review-comment">Ваш отзыв:</label>
                <textarea id="review-comment" name="comment" class="form-control" rows="4"></textarea>
            </div>

            <input type="hidden" id="review-location-id" name="location_id">
            <button type="submit" class="btn btn-primary">Отправить отзыв</button>
        </form>
    </div>
</div>

    <!-- Success Modal -->
    <div id="success-modal" class="modal">
        <div class="modal-content centered-form">
            <p id="success-message"></p>
            <button type="button" class="btn btn-primary" onclick="document.getElementById('success-modal').style.display='none'">ОК</button>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script async src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&callback=initMap"></script>
</body>

</html>
