{% extends 'base.html' %}

{% block title %}Регистрация{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
    <form method="post" id="registerForm">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.username.label(class="form-label") }}
            {{ form.username(class="form-control") }}
            {% if form.username.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ form.username.errors[0] }} 🛑
                </div>
            {% endif %}
        </div>
        <div class="mb-3">
            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control") }}
            {% if form.email.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ form.email.errors[0] }} 🛑
                </div>
            {% endif %}
        </div>
        <div class="mb-3">
            {{ form.password.label(class="form-label") }}
            {{ form.password(class="form-control") }}
            {% if form.password.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ form.password.errors[0] }} 🛑
                </div>
            {% endif %}
        </div>
        <div class="mb-3">
            {{ form.confirm_password.label(class="form-label") }}
            {{ form.confirm_password(class="form-control") }}
            {% if form.confirm_password.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ form.confirm_password.errors[0] }} 🛑
                </div>
            {% endif %}
        </div>
        <div class="mb-3">
            {{ form.first_name.label(class="form-label") }}
            {{ form.first_name(class="form-control") }}
            {% if form.first_name.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ form.first_name.errors[0] }} 🛑
                </div>
            {% endif %}
        </div>
        <div class="mb-3">
            {{ form.second_name.label(class="form-label") }}
            {{ form.second_name(class="form-control") }}
            {% if form.second_name.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ form.second_name.errors[0] }} 🛑
                </div>
            {% endif %}
        </div>
        <div class="mb-3">
            {{ form.phone.label(class="form-label") }}
            {{ form.phone(class="form-control") }}
            {% if form.phone.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ form.phone.errors[0] }} 🛑
                </div>
            {% endif %}
        </div>
        <div class="mb-3">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>
{% endblock %}
